<div class="w-full h-screen flex items-center justify-center">
  <form
    (ngSubmit)="submit()"
    class="flex items-center justify-center flex-col max-w-full"
    style="width: 420px"
  >
    <div class="py-1 w-full">
      <div
        class="
          knd-field
          shadow-pedia
          w-full
          h-12
          rounded-lg
          overflow-hidden
          flex
          items-center
        "
      >
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          (ngModelChange)="change($event, 'username')"
          id="username"
          placeholder="Username"
          autocomplete="off"
          aria-autocomplete="off"
          aria-placeholder="Username"
          class="text-gray-500 text-normal font-medium"
        />
      </div>
    </div>
    <div class="py-1 w-full">
      <div
        [class]="
          invalid && email.length >= 1
            ? 'knd-field shadow-pedia border-error w-full h-12 rounded-lg overflow-hidden flex items-center'
            : 'knd-field shadow-pedia w-full h-12 rounded-lg overflow-hidden flex items-center'
        "
      >
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          (ngModelChange)="change($event, 'email')"
          id="email"
          placeholder="Email address"
          autocomplete="off"
          aria-autocomplete="off"
          aria-placeholder="Email address"
          class="text-gray-500 text-normal font-medium"
        />
      </div>
    </div>
    <div class="py-1 w-full">
      <div
        class="
          knd-field
          shadow-pedia
          w-full
          h-12
          rounded-lg
          overflow-hidden
          flex
          items-center
        "
      >
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          (ngModelChange)="change($event, 'password')"
          id="password"
          placeholder="Password"
          autocomplete="off"
          aria-autocomplete="off"
          aria-placeholder="Password"
          class="text-gray-500 text-normal font-medium"
        />
      </div>
    </div>
    <div class="py-1 w-full">
      <div
        class="
          knd-field
          shadow-pedia
          w-full
          h-12
          rounded-lg
          overflow-hidden
          flex
          items-center
        "
      >
        <input
          type="password"
          name="confirmation"
          [(ngModel)]="confirmation"
          (ngModelChange)="change($event, 'confirmation')"
          id="confirmation"
          placeholder="Confirmation"
          autocomplete="off"
          aria-autocomplete="off"
          aria-placeholder="Confirmation"
          class="text-gray-500 text-normal font-medium"
        />
      </div>
    </div>
    <div class="pt-6 w-full flex items-center justify-center">
      <button
        [disabled]="disabled"
        [class]="
          disabled
            ? 'w-64 h-10 shadow-pedia rounded-lg bg-pedia text-white font-bold cursor-not-allowed'
            : 'w-64 h-10 shadow-pedia rounded-lg bg-pedia text-white font-bold'
        "
        type="submit"
      >
        Sign up
      </button>
    </div>
  </form>
</div>
